@model IEnumerable<NetCoreAjax.Entities.Movimiento>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><i class="fas fa-money-check-alt"></i> Movimientos</h1>

<div id="list-all">
    @await Html.PartialAsync("_ListAll", Model)
</div>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}